@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    @apply mt-6 leading-7 text-gray-700;
}

pre {
    @apply mt-8 p-3 rounded-lg max-h-96 overflow-scroll;
}

img {
    @apply p-2 mb-2 rounded-lg border-[2.8px] border-[#A09F92] bg-[#D8DEC0] hover:bg-[#D0D6B8];
}

h1, h2, h3, h4, h5, h6 {
    @apply mt-10 mb-4 h-fit font-medium relative align-bottom;
    font-family: Cotham;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    @apply opacity-60 w-4 absolute left-[-1.8rem] md:left-[-2.5rem];
}

h1 {
    @apply text-3xl text-[#484232];
    font-family: Inter;
}

h1::before {
    content: 'h1';
    font-family: Cotham;
    @apply text-[60%] top-[0.44rem];
}

h2 {
    @apply text-3xl text-[#4D2B09];
}

h2::before {
    content: 'h2';
    @apply text-[60%] top-[0.187rem];
}

h3 {
    @apply text-2xl text-[#2E3419];
}

h3::before {
    content: 'h3';
    @apply text-[70%] top-[0.21rem];
}

h4, h5, h6 {
    @apply mb-2 text-xl text-[#333];
}

h4::before, h5::before, h6::before {
    @apply text-[80%] top-[0.05rem];
}

h4::before { content: 'h4'; }
h5::before { content: 'h5'; }
h6::before { content: 'h6'; }
