<!-- TODO: fix init vars -->
{% block init %}
    {% set tab_title = "Home" %}
{% endblock init %}

{% set current_nav = "home" %} <!-- highlighted button in navbar -->
{% set tab_title = "title" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <title>{{ tab_title }}</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="" class="home">
                    <img src="/xlogo1.svg" alt="" srcset="">
            </a></li>
            <li><a href="" class="blogs">blogs</a></li>
            <li><a href="" class="about">about</a></li>
        </ul>
    </nav>
</header>

<body>
    {% block body %}
    {% endblock body %}
</body>
</html>
