{% set tab_title = "title" %} <!-- highlighted button in navbar -->
{% set css = "" %}

<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href={{ css }}>
    <title>{{ tab_title }}</title>
    {% endblock head %}
</head>

<header>
    <nav>
        <ul>
            <li><a href="" class="home">
                    <img src="/xlogo1.svg" alt="" srcset="">
            </a></li>
            <li class="nav"><a href="" class="blogs">blogs</a></li>
            <li class="nav"><a href="" class="about">about</a></li>
        </ul>
    </nav>
</header>

<body>
    {% block body %}
    {% endblock body %}
</body>
</html>
