{% extends "base.html" %}

{% block head %}
    {% set tab_title = "Home" %}
    {{ super() }}
{% endblock head %}

{% block body %}
    <div class="bg-[#F2F6E0] flex flex-col" style="font-family: Inter">
        <div class="p-6 w-full">
            <h2 class="mb-6 font-mono text-3xl"><span class="text-[#bbb]">/</span>about</h2>
            <p class="text-lg text-gray-600 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam inventore, rerum ex ipsum in molestiae. Animi, voluptates ducimus. Nam culpa voluptatum iste unde architecto quisquam, quo numquam itaque mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam inventore, rerum ex ipsum in molestiae. Animi, voluptates ducimus. Nam culpa voluptatum iste unde architecto quisquam, quo numquam itaque mollitia.</p>
            <!-- <button class="bg-[#454647] text-white mt-6 p-2 px-3 rounded-full"><a href="" class="decoration-none">lin</a></button> -->
            <!-- <button class="bg-[#454647] text-white mt-6 ml-2 mr-4 p-2 px-3 rounded-full"><a href="" class="decoration-none">gh</a></button> -->
            <button class="bg-[#63474d] text-white mt-10 p-2 px-3 rounded-full"><a href="" class="decoration-none">more ></a></button>
        </div>
        <div class="p-6 bg- w-full">
            <h2 class="mb-6 font-mono text-3xl"><span class="text-[#bbb]">/</span>blogs</h2>
            <p class="text-lg text-gray-600" style="font-family: Inter">Latest blogs</p>
            <div class="mt-6 p-4 rounded-lg border-2 border-gray-500 bg-[#F0F8E9f] bg-[#EDF0D7]">
                <span class="block text-gray-800 text-lg" style="font-family: Poppins">An Interesting Title: Part I</span>
                <span class="block text-gray-500">#tags</span>
            </div>
            <div class="mt-6 p-4 rounded-lg border-2 border-gray-500 bg-[#F0F8E9f] bg-[#EBEECF]">
                <span class="block text-gray-800 text-lg" style="font-family: Poppins">An Interesting Title: Part II</span>
                <span class=" text-gray-600">12 Jan 2025</span>
                <span class="pl-6 text-gray-500">#tags</span>
            </div>
            <button class="bg-[#63474d] text-white mt-10 p-2 px-3 rounded-full"><a href="" class="decoration-none">
                    more ></a></button>
        </div>
{% endblock body %}

