{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
    {% set tab_title = "Home" %}
    {{ super() }}
{% endblock head %}

{% block body %}
    <div class="flex flex-col">
        <div class="w-full">
            <h2 class="mb-6 mt-0 before:none">About</h2>
            <p>Hi, and welcome to my humble website, made to express my aesthetic and share about my projects :) I ORD'ed in Aug '25, and I'm steadily recovering from a shoulder surgery while exploring my interests before uni starts in 2026.</p>
            <button class="bg-[#c6caac] hover:bg-[#b7ba9c] text-[#6a764a] mt-10 p-2 px-3 rounded-full"><a href="/about" class="decoration-none">full story -></a></button>
        </div>
        <div class="mt-16 w-full">
            <h2 class="mb-6 mt-0">Blog</h2>
            <p class="my-6">
                {% set n = 5 %}
                Viewing latest {{ n }} - 
                {{ macros::link(label="see all", link="/blog", target="") }}
            </p>

            <!-- <hr class="max-w-2xl border-t-2 border-t-solid border-t-[#D1cfb8]" /> -->
            {% set all_blogs = get_taxonomy_term(kind="tags", term="all") %}
            {% for page in all_blogs.pages | slice(end=n) %}
                {{ macros::blog_link(page=page) }}
                <!-- <hr class="max-w-2xl border-t-2 border-t-solid border-t-[#D1cfb8]" /> -->
            {% endfor %}

            <button class="bg-[#c6caac] hover:bg-[#b7ba9c] text-[#6a764a] mt-10 p-2 px-3 rounded-full"><a href="/blog" class="decoration-none">see all {{ all_blogs.page_count }} -></a></button>
        </div>
{% endblock body %}

