{% import "components/buttons.html" as buttons %}

{% macro link(label="undefined", link="", css="", target="_blank") %}
<a class="text-[#7E8264] hover:text-[#4d522c] decoration-[#9EA284] hover:bg-[#adb296] hover:decoration-[#adb296] underline decoration-2 {{ css }}" href="{{ link | safe }}" target={{ target }}>{{ label }}</a>
{% endmacro link %}

{% macro footer_link(label="undefined", link="", css="", target="_blank") %}
<a class="text-[#bbb] hover:text-[#4d522c] decoration-[#aaa] hover:bg-[#adb296] hover:decoration-[#adb296] underline decoration-2 {{ css }}" href="{{ link | safe }}" target={{ target }}>{{ label }}</a>
{% endmacro footer_link %}

<!-- relative_path: blog/build-the-site.md -->
<!-- colocated_path: -->
<!-- content: <p>This website was built with the Zola static site generator. What Zola does is it turns Markdown files into HTML pages based on user-defined templates.</p> -->
<!-- permalink: http://127.0.0.1:1111/blog/build-the-site/ -->
<!-- slug: build-the-site -->
<!-- ancestors: [_index.md, blog/_index.md] -->
<!-- title: Creating an Efficient and Maintainable Personal Site -->
<!-- description: -->
<!-- updated: -->
<!-- date: 2025-01-22 -->
<!-- year: 2025 -->
<!-- month: 1 -->
<!-- day: 22 -->
<!-- taxonomies: [object] -->
<!-- authors: [] -->
<!-- extra: [object] -->
<!-- path: /blog/build-the-site/ -->
<!-- components: [blog, build-the-site] -->
<!-- summary: -->
<!-- toc: [] -->
<!-- word_count: 26 -->
<!-- reading_time: 1 -->
<!-- assets: [] -->
<!-- draft: false -->
<!-- lang: en -->
<!-- lower: -->
<!-- higher: -->
<!-- translations: [] -->
<!-- backlinks: []  -->

{% macro blog_link(page) %}
<div
    class="block max-w-2xl mt-6 p-3 md:p-4 rounded-lg border-[2.8px] border-[#A09F92] bg-[#E3E1CD] hover:bg-[#DCD9C9] cursor-pointer"
    onclick={{ "location.href='" ~ page.path ~ "'" }}
>
    <span class="font-[Poppins] block text-[#363538] text-[1.17rem] md:text-xl">{{ page.title }}</span>
    <div class="mt-2 md:mt-4 w-full flex flex-wrap items-end space-y-2">
        {% if page.taxonomies.series %}
            {% for series in page.taxonomies.series %}
                {{ buttons::series(label=series, link="/series/" ~ series) }}
            {% endfor %}
        {% endif %}
        {% if page.taxonomies.tags %}
            {% for tag in page.taxonomies.tags %}
                {{ buttons::tag(label=tag, link="/tags/" ~ tag) }}
            {% endfor %}
        {% endif %}
        <span class="ml-auto mt-2 text-[#807070] text-right">{{ page.date | date(format="%e %b '%y") }}</span>
    </div>
</div>
{% endmacro blog_link %}

<!-- Alternative element with divider between title and tags/date sections -->

<!-- <div class="mt-6 rounded-lg  bg-[#F0F8E9f] bg-[#EBEECF]"> -->
<!--     <div class="p-4 rounded-t-lg border-2 border-b-0 border-gray-500"> -->
<!--         <span class="block text-gray-800 text-lg" style="font-family: Poppins">{{ page.title }}</span> -->
        <!-- <span class="block mt-2 text-gray-600">{{ page.date }}</span> -->
<!--     </div> -->
<!--     <div class="border-2 border-gray-500 border-t- rounded-b-lg px-4 py-2 text-gray-600 w-full flex justify-between items-end"> -->
<!--         <div class="text-sm space-x-2"> -->
<!--             {% if page.taxonomies.series %} -->
<!--                 {% for series in page.taxonomies.series %} -->
<!--                     <button class="rounded-full py-1 px-3 bg-[#b5ca92] text-[#674d40]"><a href={{ "/series/" ~ series }} class="">{{ series }}</a></button> -->
<!--                 {% endfor %} -->
<!--             {% endif %} -->
<!--             {% if page.taxonomies.tags %} -->
<!--                 {% for tag in page.taxonomies.tags %} -->
<!--                     <button class="rounded-full py-1 px-3 bg-[#d9dcc1] text-[#444]"><a href={{ "/tags/" ~ tag }} class="">{{ tag }}</a></button> -->
<!--                 {% endfor %} -->
<!--             {% endif %} -->
<!--         </div> -->
<!--         <span class="self-end mt-2 text-gray-600">{{ page.date | date(format="%e %b '%y") }}</span> -->
<!--     </div> -->
<!-- </div> -->

