<!-- relative_path: blog/build-the-site.md -->
<!-- colocated_path: -->
<!-- content: <p>This website was built with the Zola static site generator. What Zola does is it turns Markdown files into HTML pages based on user-defined templates.</p> -->
<!-- permalink: http://127.0.0.1:1111/blog/build-the-site/ -->
<!-- slug: build-the-site -->
<!-- ancestors: [_index.md, blog/_index.md] -->
<!-- title: Creating an Efficient and Maintainable Personal Site -->
<!-- description: -->
<!-- updated: -->
<!-- date: 2025-01-22 -->
<!-- year: 2025 -->
<!-- month: 1 -->
<!-- day: 22 -->
<!-- taxonomies: [object] -->
<!-- authors: [] -->
<!-- extra: [object] -->
<!-- path: /blog/build-the-site/ -->
<!-- components: [blog, build-the-site] -->
<!-- summary: -->
<!-- toc: [] -->
<!-- word_count: 26 -->
<!-- reading_time: 1 -->
<!-- assets: [] -->
<!-- draft: false -->
<!-- lang: en -->
<!-- lower: -->
<!-- higher: -->
<!-- translations: [] -->
<!-- backlinks: []  -->

{% macro blog_link(page) %}
<div class="mt-6 p-4 rounded-lg border-2 border-gray-500 bg-[#F0F8E9f] bg-[#EBEECF]">
    <span class="block text-gray-800 text-lg" style="font-family: Poppins">{{ page.title }}</span>
    <span class=" text-gray-600">{{ page.date }}</span>
    {% for tag in page.taxonomies.tags %}
        <span class="ml-1 mr text-gray-500">{{ tag }}</span>
    {% endfor %}
</div>
{% endmacro blog_link %}

<!-- <div class="mt-6 p-4 rounded-lg border-2 border-gray-500 bg-[#F0F8E9f] bg-[#EDF0D7]"> -->
<!--     <span class="block text-gray-800 text-lg" style="font-family: Poppins">An Interesting Title: Part I</span> -->
<!--     <span class="block text-gray-500">#tags</span> -->
<!-- </div> -->
