{% macro blog_link() %}
<div class="mt-6 p-4 rounded-lg border-2 border-gray-500 bg-[#F0F8E9f] bg-[#EBEECF]">
    <span class="block text-gray-800 text-lg" style="font-family: Poppins">An Interesting Title: Part II</span>
    <span class=" text-gray-600">12 Jan 2025</span>
    <span class="pl-6 text-gray-500">#tags</span>
</div>
{% endmacro blog_link %}

<!-- <div class="mt-6 p-4 rounded-lg border-2 border-gray-500 bg-[#F0F8E9f] bg-[#EDF0D7]"> -->
<!--     <span class="block text-gray-800 text-lg" style="font-family: Poppins">An Interesting Title: Part I</span> -->
<!--     <span class="block text-gray-500">#tags</span> -->
<!-- </div> -->
